@charset "UTF-8";
body {
	font-family: 楷体_GB2312;
	font-size: 12pt;
	scrollbar-highlight-color: buttonface;
	scrollbar-shadow-color: buttonface;
	scrollbar-3dlight-color: buttonhighlight;
	scrollbar-track-color: #eeeeee;
	scrollbar-darkshadow-color: buttonshadow;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;


}

td {
	font-family: 楷体;
	font-size: 20pt
}

textarea {
	font-family: 宋体;
	font-size: 9pt
}

div {
	font-family: 宋体;
	font-size: 9pt
}

form {
	font-family: 宋体;
	font-size: 9pt;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

option {
	font-family: 宋体;
	font-size: 9pt
}

p {
	font-family: 宋体;
	font-size: 9pt
}

td {
	font-family: 宋体;
	font-size: 9pt
}

br {
	font-family: 宋体;
	font-size: 9pt
}

img {
	border: 0;
}

select {
	border-width: 4;
	border-bottom: #bdcfef 1px solid;
	border-right: #bdcfef 1px solid;
	border-top: #bdcfef 1px solid;
	border-left: #bdcfef 1px solid;
	padding-left: 1px;
	margin: 0px;
	height: 20px;
	width: 52%;
	background-color: #eeeeee;
	font-size: 9pt;
	font-family: 宋体;
	font-size: 9pt;
	font-style: bold;
}

input.text {
	padding-left: 1px;
	margin: 0px;
	height: 20px;
	width: 100%;
	font-family: 宋体;
	font-size: 9pt;
	font-style: bold;
}

select.menu {
	padding-left: 1px;
	margin: 0px;
	height: 20px;
	width: 90%;
	font-family: 宋体;
	font-size: 9pt;
	font-style: bold;
}

 
input.password {
	padding-left: 1px;
	margin: 0px;
	height: 20px;
	width: 100%;
	font-family: 宋体;
	font-size: 9pt;
	font-style: bold;
}

a:link {
	color: #000000;;
	text-decoration: underline;
}

a:visited {
	color: #000066;;
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
	//
	none
}

a:hover {
	text-decoration: underline;
	color: #6385de;
}

.t {
	line-height: 1.4
}

.imp {
	color: red ;
}

.pr {
	color: green;
}

.selectbutton {
	BORDER-RIGHT: #83a5eb 1px solid;
	BORDER-TOP: #83a5eb 1px solid;;
	PADDING-BOTTOM: 3px;;
	BORDER-LEFT: #83a5eb 1px solid;;
	FONT-FAMILY: webdingss;
	HEIGHT: 19px;
	BACKGROUND-COLOR: #edf3fe;
	WIDTH: 16px;;
	BORDER-BOTTOM: #83a5eb 1px solid;
}

.selectcontent {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	LEFT: 0px;
	OVERFLOW: auto;
	BORDER-LEFT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	POSITION: absolute;
	TOP: 0px;
}

.selectdiv {
	OVERFLOW: hidden;
	WIDTH: 100px;
	POSITION: absolute;
}

input.buttonface {
	background: #99ccff;
	border-bottom: #183ead 1px solid;
	border-left: #183ead 1px solid;
	border-right: #183ead 1px solid;
	border-top: #183ead 1px solid;
	color: #000000;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 18px;
	line-height: normal
}

input.smallinput {
	border-bottom: #183ead 1px solid;
	border-left: #183ead 1px solid;
	border-right: #183ead 1px solid;
	border-top: #183ead 1px solid;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 18px;
	line-height: normal
}

.menuitems {
	padding-left: 15px;
	padding-right: 10px
}

td.label {
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
	vertical-align: middle;
	font-family: 宋体;
	font-size: 9pt
}

/*宋体宋体宋体*/
.standardbutton {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	width: 80;
	font-size:9pt;
	cursor: hand
}

.6bigstandardbutton {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	width: 120;
	font-size:9pt;
	cursor: hand
}

.8bigstandardbutton {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	width: 160;
	font-size:9pt;
	cursor: hand
}

.10bigstandardbutton {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	width: 200;
	font-size:9pt;
	cursor: hand
}

.button1 {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	font-size:9pt;
	cursor: hand
}

.btpl {
	background: url('../img/button_center_bg.gif');;
	text-align: center;;
	word-break: keep-all;;
	letter-spacing: 2px;;
	width: 80;
}

.toolbutton {
	background: #ebf0fa;
	border-bottom: black 1px solid;
	border-left: black 1px solid;
	border-right: white 1px solid;
	border-top: white 1px solid;
	color: #000000;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 18px;
	line-height: norma;
}

/*==========宋体css宋体==============================================*/
.flyoutmenu {
	border-right: #999999 0px solid;
	border-top: #999999 0px solid;
	behavior: url("/gchrp/gcbase/js/default.htc");
	border-left: #999999 0px solid;
	border-bottom: #999999 0px solid;
	background-color: #f7f3f7
}

.flyoutheading {
	padding-left: 2px;
	font-weight: bold;
	padding-bottom: 4px;
	cursor: default;
	padding-top: 2px;
	background-color: #f1f1f1;;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutlink {
	padding-right: 25px;
	padding-left: 6px;
	cursor: hand;
	padding-top: 1px;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutmenu td.flyoutlink {
	border-right: #f7f3f7 1px solid;
	padding-right: 25px;
	border-top: #f7f3f7 1px solid;
	padding-left: 6px;
	padding-bottom: 1px;
	border-left: #f7f3f7 1px solid;
	cursor: hand;
	padding-top: 3px;
	border-bottom: #f7f3f7 1px solid;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutlink a {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutlink a:hover {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutlink a:visited {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutlink a:active {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutsubheading {
	padding-left: 7px;
	font-weight: bold;
	padding-bottom: 4px;
	cursor: default;
	padding-top: 2px;
	background-color: #fcfcf9;;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutsublink {
	border-right: #f7f3f7 1px solid;
	padding-right: 15px;
	border-top: #f7f3f7 1px solid;
	padding-left: 11px;
	padding-bottom: 1px;
	border-left: #f7f3f7 1px solid;
	cursor: hand;
	padding-top: 3px;
	border-bottom: #f7f3f7 1px solid;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutsublink a {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutsublink a:hover {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutsublink a:visited {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutsublink a:active {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutclasslink {
	padding-right: 25px;
	padding-left: 0px;
	cursor: hand;
	padding-top: 1px;
	font-family: 宋体;
	font-size: 9pt;
	font-weight: bold
}

.flyoutmenu td.flyoutclasslink {
	border-right: #f7f3f7 1px solid;
	padding-right: 25px;
	border-top: #f7f3f7 1px solid;
	padding-left: 0px;
	padding-bottom: 1px;
	border-left: #f7f3f7 1px solid;
	cursor: hand;
	padding-top: 3px;
	border-bottom: #f7f3f7 1px solid;
	font-family: 宋体;
	font-size: 9pt;
}

.flyoutclasslink a {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutclasslink a:hover {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutclasslink a:visited {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.flyoutclasslink a:active {
	font-family: 宋体;
	font-size: 9pt;;
	color: black;
	text-decoration: none
}

.link_none1 {
	font-weight: bold;
}

/*==========宋体css宋体==============================================*/
.dtl {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000
}

.page_title {
	font-family: 宋体;
	font-size: 16pt;
	color: #0000ff
}

.hr_top {
	color: #d0d0d0;;
	width: 96%;;
	align: center
}

.hr_bottom {
	color: #000000;;
	width: 600px;;
	align: center
}

.hr_middle {
	color: #000000;;
	width: 600px;;
	align: center
}

.busi_table_title {
	background-color: #000080;;
	font-family: "宋体";
	font-weight: bold;;
	color: #ffffff;;
	font-size: 10.5pt;
}

.busi_table_title_sub {

}

.busi_table_title_sub_sub {

}

.busi_table_label {
	padding: 4px;;
	width: 20%;;
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

.busi_table_label_sub {

}

.busi_table_label_sub_sub {

}

.busi_table_desc {
	width: 30%;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

.busi_table_desc3 {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

.busi_table_help {
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

.bu_table_title {
	background-color: #000080;;
	font-family: "宋体";
	font-weight: bold;;
	color: #ffffff;;
	font-size: 10.5pt;
}

.bu_table_title_sub {

}

.bu_table_title_sub_sub {

}

.bu_table_label {
	padding: 4px;;
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

.bu_table_label_sub {

}

.bu_table_label_sub_sub {

}

.bu_table_desc {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

.bu_table_help {
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

.body_table {
	width: 100%;
}

.line_table {
	width: 100%;
}

.index_table {
	width: 400px;;
	height: 10px;
}

.index_warning {
	width: 500px;;
	height: 10px;
}

.main_table {
	width: 600px;;
	height: 10px;
}

.full_table {
	width: 100%;
	height: 10px;
}

.main_frame_table {
	width: 710px;;
	height: 10px;
}

.product_frame_table {
	width: 99%;
	height: 10px;
}

.frame_table {
	width: 95%;;
	height: 10px;
}

table.col {
	width: 100%;
}

table.title {
	width: 100%;;
	height: 17;;
	border-style: none;;
	border-width: 0;;
	border-collapse: collapse;
}

td.title_label {
	padding: 0;;
	width: 4%;;
	height: 15;
}

td.title_desc {
	padding: 0;;
	width: 96%;;
	height: 15;;
	color: #32659c;
}

.to_table {
	width: 600px;
	height: 17;
}

.tool_table {
	width: 600px;
}

table.data {
	width: 100%;;
	font-size: 9pt;;
	color: #000000;;
	background-color: #6386de;;
	border-style: none;;
	border-width: 5;;
	border-collapse: collapse;
}

td.data_label {
	padding: 2;;
	height: 20;;
	background-color: #bdcfef;
	text-align: center;;
	font-weight: bold;;
	font-family: "楷体_GB2312";
	color: #000000;;
	font-size: 9pt;
}

td.data_label_sub {

}

td.data_label_sub_sub {

}

td.data_desc {
	padding: 2;;
	height: 22;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

td.data_help {
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

table.querybor {
	width: 100%;;
	background-color: #6385de;
}

table.queryborp {
	width: 70%;;
	background-color: #6385de;
}

td.querybor_label {
	padding: 8;;
	background-color: #bdcfef;;
	width: 100%;
}

/*tabpage*/
table.tabpagedown {
	width: 600px;
}

td.tabpagedown_label {
	padding: 2;
	width: 100%;
	border-left: 1px dotted #6386de;
	border-right: 1px dotted #6386de;
	border-bottom: 4px solid #6386de;
}

div.tabpagedown_div {

}

div.loading_div {
	text-align: right;;
	color: red;
}

table.query {
	width: 100%;;
	font-size: 9pt;;
	color: #000000;;
	background-color: #bdcfef;;
	border-style: none;;
	border-width: 5;;
	border-collapse: collapse;
}

td.query_label {
	padding: 1;;
	height: 22;;
	background-color: #ebf0fa;;
	/*  width: 20%;; */
	text-align: left;;
	font-weight: bold;;
	font-family: "仿宋_GB2312";
	color: #000080;;
	font-size: 14pt;
}

caption{
		font-weight: bold;;
	font-family: "仿宋_GB2312";
	color: #ff0000;;
	font-size: 14pt;
	
}
td.query_label_sub {

}

td.query_label_sub_sub {

}

td.query_desc {
	padding: 1;;
	background-color: #ffffff;;
 
	font-family: 楷体_GB2312;
	font-size: 12pt;
	color: #000000;;
	word-break: break-all;
}

td.query_desc3 {
	padding: 1;;
	background-color: #ffffff;;
	width: 80%;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

td.query_help {
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

td.query_span {
	background-color: #c0c0c0;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

table.qu {
	width: 100%;;
	font-size: 9pt;;
	color: #000000;;
	background-color: #ffffff;;
	border-style: none;;
	border-width: 5;;
	border-collapse: collapse;
}

td.qu_label {
	padding: 1;;
	height: 22;;
	background-color: #ebf0fa;;
	width: 30%;;
	text-align: left;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

td.qu_label_sub {

}

td.qu_label_sub_sub {

}

td.qu_desc {
	padding: 1;;
	background-color: #ffffff;;
	width: 20%;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;;
	word-break: break-all;
}

td.qu_white {
	padding: 1;;
	background-color: #ffffff;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;;
	word-break: break-all;
}
td.qu_color {
	padding: 1;;
	height: 22;;
	background-color: #ebf0fa;;
	text-align: left;;
	font-weight: bold;;
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;
}

td.qu_desc3 {
	padding: 1;;
	background-color: #ffffff;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
}

.index_table_title {
	background-color: #000080;;
	color: #ffffff;;
	font-size: 9pt;
	padding-top: 3px;;
	padding-bottom: 3px
}

.index_table_title_sub {

}

.index_table_title_sub_sub {

}

.index_table_label {
	font-family: "宋体";
	color: #000000;;
	font-size: 9pt;;
	text-align: center;;
	width: 30%;
}

.index_table_label_sub {

}

.index_table_label_sub_sub {

}

.index_table_desc {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;;
	width: 70%;
}

.index_table_input {
	width: 100%
}

.index_table_select {
	width: 100%
}

.errpage {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;;
	font-weight: bold
}

.navi {
	height: 22px;;
	font-size: 9pt
}

.tr_out {
	background-color: #ebf0fa
}

.tr_out0 {
	background-color: #ffffff
}

.tr_out1 {
	background-color: #ebf0fa
}

/*
过期
*/
.tr_out2 {
	background-color:#FFFFCC
}

/*
即将生效
*/
.tr_out3 {
	background-color:#FFCCFF
}

.tr_over {
	background-color: #e7e7e7
}

a {
	text-decoration: underline;
}

a.xh {
	text-decoration: none;
}



input.faceInput {
	border: 1 solid black;;
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	HEIGHT: 18px;
	LINE-HEIGHT: normal
}

input.buttonface {
	BACKGROUND: #ffcc00;
	border: 1 solid #ff6633;
	COLOR: #ff0000;
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	HEIGHT: 18px;
	LINE-HEIGHT: normal;;
	cursor: hand
}

.ttt {
	padding: 1;;
	background-color: #ffffff;;
	width: 9%;;
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;;
	word-break: break-all;
}

.editselectbutton {
	BORDER-RIGHT: #83a5eb 1px solid;
	BORDER-TOP: #83a5eb 1px solid;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #83a5eb 1px solid;
	WIDTH: 16px;
	LINE-HEIGHT: 0px;
	BORDER-BOTTOM: #83a5eb 1px solid;
	FONT-FAMILY: webdings;
	HEIGHT: 19px;
	BACKGROUND-COLOR: #edf3fe
}

.editselecttable {
	FONT-SIZE: 12px;
	CURSOR: default;
	FONT-FAMILY: arial
}

.editselecthtml {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	LEFT: 0px;
	OVERFLOW: auto;
	BORDER-LEFT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
}

.editselectdiv {
	OVERFLOW: hidden;
	WIDTH: 100px;
	POSITION: absolute;;
	visibility: hidden;
}

.head {
	font-family: 宋体;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold
}

/*==========tabpage开始==============================================*/
	/* background:url('/fjunicom/gcbase/img/tabpage/label_buff_centerbg.gif'); */
.commonTabDark {
	font-size: 12px;;
	color: #003471;;
	cursor: hand;;
	text-align: center;;
	vertical-align: center;;
	padding-top: 3px;;
	word-break: keep-all;
}

.commonTabLight {
	font-size: 12px;;
	color: #003471;;
	text-align: center;;
	vertical-align: center;;
	padding-top: 3px;;
	word-break: keep-all;
}
/*==========tabpage结束==============================================*/